/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100%;
    background: linear-gradient( 180deg, green,white);
    position: relative;
}

.container{
    height: 95vh;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    display: flex;
}

/* NAVBAR */
.navbar{
    width: 400px;
    height: 100%;
}

/* top */
.profile{
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 .5em;
}

.profile img{
    height: 70%;
    margin: .5em;
    border-radius: 50%;
    vertical-align: middle;
}

.icon i{
    line-height: 65px;
    margin: .2em;
    color:#c4c1c1;
    font-size: 1.2em;
}


.notice{
    height: 80px;
    background-color: #6ed8ff;
    display: flex;
    align-items: center;
    padding: 0 .5em;
}

.notice i{
    height: 50%;
    font-size: 1.2em;
    padding:1.2em .5em;
    background-color: white;
    color: #6ed8ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: .5em;
}

.notice a {
    color: grey;
}

/* main */
.nav-main{
    height: calc(100% - 150px);
    background-color: rgb(255, 0, 170);
    overflow: scroll;
}

/* MESSAGE */
.message{
    width: calc(100% - 400px);
    height: 100%;
}

/* top */
.user-top{
    height: 70px;
    background-color: burlywood;
}

/* main */
.chat{
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
    overflow: auto;
}

/* foot */
.add-message{
    height: 70px;
    background-color: burlywood;
}