/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100%;
    background: linear-gradient( 180deg, green,white);
    position: relative;
}

.container{
    height: 95vh;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    display: flex;
}

/* NAVBAR */
.navbar{
    width: 300px;
    height: 100%;
    background-color: aqua;
}

/* MESSAGE */
.message{
    width: calc(100% - 300px);
    height: 100%;
    background-color: red;
}