/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    overflow: auto;
} 

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient( #366036 0vh, #366036 15vh, #e1dede 15vh, #e1dede 100%);
    position: relative;
    overflow: auto;
}

.container{
    height: 95vh;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    display: flex;
    min-width: 950px;
}

i{
    color:#c4c1c1;
    cursor: pointer;
}

.gray{
    color: gray;
}

.flex{
    display: flex;
}

/* NAVBAR */
.navbar{
    width: 400px;
    height: 100%;
}

/* top */
.profile{
    height: 70px;
    background-color: #f1efef;
    justify-content: space-between;
    padding: 0 .5em;
}

.profile img{
    height: 50px;
    margin: .5em;
    border-radius: 50%;
    vertical-align: middle;
}

.profile h3{
    display: inline-block;
}

.icon i{
    line-height: 65px;
    margin: .2em;
    font-size: 1.2em;
}


.notice{
    height: 80px;
    background-color: #8edafc;
    align-items: center;
    padding: 0 .5em;
}

.notice i{
    height: 50%;
    font-size: 1.2em;
    padding:1.2em .5em;
    background-color: white;
    color: #8edafc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: .5em;
}

/* main */
.nav-main{
    height: calc(100% - 150px);
    background-color: white;
    overflow: scroll;
}

.filter{
    background-color: #f1efef;
    padding: .5em;
}

.contact-filter{
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.contact-filter label{
    border-right: 1px solid lightgray;
    padding: .3em 1.5em;
    font-size: 13px;
    cursor: pointer;
}

#search{
    border: none;
    width: 80%;
    padding: .5em 1.5em;
}


/* contact */
.contact{
    height: 80px;
    border-top: 1px solid lightgray;
    position: relative;
    padding: .5em;
}

.contact img{
    height: 50px;
    border-radius: 50%;
    margin: 0 .5em;
}

.contact:hover{
    background-color: lightgray;
}

.date{
    position: absolute;
    top: 10px;
    right: 10px;
}

.active{
    background-color: lightgray;
}

/* MESSAGE */
.message{
    width: calc(100% - 400px);
    height: 100%;
}

/* top */
.user-top{
    height: 70px;
    background-color: #f1efef;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

.left{
    width: 60%;
}

.left img{
    height: 50px;
    border-radius: 50%;
    float: left;
    margin: 0 1em;
}

.rigth i{
    margin: .2em;
    font-size: 1.2em;
}

/* main */
.chat{
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
    overflow: auto;
    padding: 2em;
}

.message-me,
.message-user {
    flex-direction: column;
    align-items: flex-end;
}

.message-me p,
.message-user p {
    border-radius: 10px;
    background-color: #8acd8a;
    min-width: 30%;
    max-width: 50%;
    padding: 1em 2em 1em 1em;
    margin: .2em;
    position: relative;
    box-shadow: 1px 1px 1px black;
    display: flex;
}

.message-user {
    align-items: flex-start;
}

.message-user p{
    background-color: white;
}

.hours{
    font-size: .7em;
    color: gray;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.message-user p i,
.message-me p i{
    position: absolute;
    bottom: 15px;
    right: 5px;
}


/* foot */
.add-message{
    height: 70px;
    background-color: #f1efef;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.add-message i{
    font-size: 1.7em;
    color: gray;
}

.add-message input{
    padding: 1em;
    border: none;
    width: 80%;
}